li {                                                                                                                               
    display: inline-block;                                                                                                         
    text-align: center;                                                                                                            
}                                                                                                                                  
                                                                                                                                   
ul {                                                                                                                               
    white-space: nowrap;                                                                                                           
}
