li {
    display: inline-block;
    text-align: center;
}

ul {
    white-space: nowrap;
}

.infobox {
    background-color: #e5e7ea;
    height: 10%;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 48px;
    text-align: left;
    text-padding-left: 20px;
}

#capsbox {
}

#meditationbox {
}

.infohead {
    margin-left: 10px;
    font-size: 18pt;
    color: black;
}

.infolist {
    text-color: black;
    list-style-type: circle;
}
