#welcome{
	padding-top: 10px;
	text-align: center;

}

h1{
	font-family: "Verdana", sans-serif;
	color: #B0B286;	
	font-size: 80px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
	font-family: "Verdana", sans-serif;
	color: white;	
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#slider{
	padding-left: 20%;
	padding-right: 20%;
}

#happy{
	float: left;
}
#sad{
	float: right;
}

#submit{
	font-size: 30px;
	margin: 15px;
	width: 300px;

}

.question{
	padding-top: 5px;
	text-align: center;
	padding-bottom: 5px;
}
.slider{
	padding-left: 20%;
	padding-right: 20%;
	width: 70%;
}
