

h1{
	font-family: "Verdana", sans-serif;
	color: #B0B286;	
	font-size: 80px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
	font-family: "Verdana", sans-serif;
	color: white;	
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#submit{
	font-size: 30px;
	margin: 15px;
	width: 300px;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: black;
}

.question{
	padding-top: 5px;
	text-align: center;
	padding-bottom: 35px;
}
}

ul {
    white-space: nowrap;
}