body{
	background-color: #69CDFF;
}
.menu{
	position: fixed;
    top: 0;
    width: 100%;
	list-style-type: none;
	background-color: #4053CC;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menuli {
    float: left;
}

.menulinks {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.content{
	padding-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #0D88FF;
	height: 100%;
}