body{
	background: linear-gradient(#2695FF, #055DB2);
}
.menu{
	position: fixed;
    top: 0;
    width: 100%;
	list-style-type: none;
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menuli {
    float: left;
}
.menuTitle{
	background-color: #4053CC;
	display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: 30px;
    text-decoration: none;
}
.menulinks {
    display: block;
    width: 70px;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}
.menulinks:hover{
	background-color: #697EFF
}

.content{
	margin-top: 7%;
	margin-left: 20%;
	margin-right: 20%;

	padding-top: 40px;

	background-color: #0D88FF;

	height: 65%;
	border-color: white;
	border-width: 10px;
	border-radius: 15px;
	border-style: solid;
}